<h1>New item</h1>

<%= render "form", item: @item %>

<br>

<div>
  <%= link_to "Back to items", items_path, class:"btn btn-info" %>
  <%= link_to "Back to Inventory", '/my_inventory', class:"btn btn-info" %>
</div>
