<h1>New market</h1>

<%= render "form", market: @market %>

<br>

<div>
  <%= link_to "Back to markets", markets_path, class:"btn btn-info" %>
  <%= link_to "Back to Inventory", '/my_inventory', class:"btn btn-info" %>
</div>
